PUBLIC_URL='/auto-diag'
REACT_APP_API_BASE_URL= 'http://localhost:3000/'
REACT_APP_DIAG_DISCLAIMER= 'DISCLAIMER: AutoDiag is not meant to take the place of a licensed mechanic. AutoDiag is meant to assist you in diagnosing what may be causing your issues. Many of these issues can be verified and repaired yourself. However, many of these also need a licensed mechanic to confirm and repair.'


################################################################################################################
## These keys utilize the car code API. Base plan. 100/day. However, This can only read OBD codes. ##
REACT_APP_RAPID_KEY='<Insert Key Here>'
REACT_APP_RAPID_HOST='<Insert Host Here>'
#
# 
#   Example Call:
#
#       const url = 'https://car-code.p.rapidapi.com/obd2/<INSERT OBD2 CODE>'
#       await fetch (url, {
#           method: 'GET',
#           headers: {
#               'X-RapidAPI-Key': 'RAPID_KEY',
#               'X-RapidAPI-Host': 'RAPID_HOST'
#           }
#       }).then((response) => response.json()).catch((error) => console.log(error));
#
################################################################################################################
REACT_APP_OBD_RESPONSE_FAIL= 'Unfortunately, we were unable to find information on this code. Please check to make sure you entered the correct code.'