.App {
  text-align: center;
}

section{
  text-align: center;
}

html, body, #app, #app>div {
  height: 100%;
  color: white;
}

.box-main {
  height: 100%;
}


.navbar {
  padding: 0 15px;
  background: black;
  height: 20%;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.container{
  color: black;
  font-weight: bold;
  text-align: center;
}

input{
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-footer {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-footer > * {
  margin-left: 45px;
}


With this CSS,
.nav-list img{
  width: 30%;
  height: auto;
}

.navbar a:hover{
  color: blue
}
.link{
  color: blue
}
.link a:hover{
  color: purple
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
